syncSource:
  replicaSet:
    hostAndPort: "localhost:27017"
    username: "mongotUser"
    passwordFile: "/opt/mongo_vector_search_poc/mongot-password.txt"
    authSource: "admin"
storage:
  dataPath: "/var/lib/mongot"
server:
  grpc:
    address: "0.0.0.0:27027"
    tls:
      mode: "disabled"
metrics:
  enabled: true
  address: "0.0.0.0:9946"
healthCheck:
  address: "0.0.0.0:8080"
logging:
  verbosity: INFO
